<!DOCTYPE html>
<html>
<head>
    <title><%=title %> - Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<!--Header-->
<header>
    <div class="container">
			<span class="home-logo">
				 <div id="homeLogo">
        <a href="/index-active"><img src="../psd/logo_sm_transparent.png" alt="bigmarketLogo" width="350px" height="200px"></a></div>
			</span>
        <nav id="navbar">
            <ul>
                <li class="current"><a href="/dashboard">Dashboard</a></li>
                <li><a href="/users/logout">Log Out</a></li>
                <li><a href="/about-active">About</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">
    <center><h1>Hey <span class="username"><%= userUsername%></span>, you have <span class="username"><%= credits %></span> credits balance.</h1></center>
    <center>
    <table>
        <tr>
            <td colspan="6" bgcolor="#A9A9A9"><font size="4">
                    <strong>My Onsale items</strong></font></td>
        </tr>
        <tr>
            <td><strong>No.</strong></td>
            <td><strong>Item ID</strong></td>
            <td><strong>Product</strong></td>
            <td><strong>Price</strong></td>
        </tr>
        <% for(var i=0; i < data.length; i++) { %>
            <tr>
                <td><%= i+1 %></td>
                <td><%= data[i]._id %></td>
                <td><%= data[i].name %></td>
                <td><%= data[i].price %></td>
            </tr>
        <% } %>
    </table>
    </center>

    <div style="margin-top:40px"></div>

      <section id="sell">
          <div class="container">
              <div>
                  <h1>Add a product</h1>
              <form action="/dashboard" method="POST">
                  <div>
                      <label>Name: </label>
                      <input type="text" name="name" placeholder="Name" required autofocus>
                  </div>
                  <div>
                      <label>Price: </label>
                      <input type="number" name="price" placeholder="Price" required>
                  </div>
                  <center><button class="button_1" type="submit">Post</button></center>
              </form>
          </div>
        </div>
      </section>
</div>

<footer>
    <h2>Copyrights &copy; Reserved by Big Market, 2019.</h2>
</footer>
</body>
</html>
