<!DOCTYPE html>
<html>
<head>
  <title><%=title %> - Home</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<!--Header-->
<header>
  <div class="container">
			<span class="home-logo">
        <div id="homeLogo">
				<a href="/"><img src="../psd/logo_sm_transparent.png" alt="bigmarketLogo" width="350px" height="200px"></a></div>
			</span>
    <nav id="navbar">
      <ul>
        <li><a href="/users/signup">Sign Up</a></li>
        <li><a href="/users/login">Log In</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>
</header>

<div style="margin-bottom: 0px"></div>

<div>
  <div class="latest_transaction">
    <center><h1>Latest Transaction</h1></center>
  </div>

  <center>
  <table>
    <tr>
      <td colspan="6" bgcolor="#A9A9A9"><font size="4">
        <strong>All products</strong></font></td>
    </tr>
  <tr>
    <td><strong>Seller</strong></td>
    <td><strong>Item ID</strong></td>
    <td><strong>Product</strong></td>
    <td><strong>Price</strong></td>
    <td><strong>Status</strong></td>
  </tr>
    <% for(var i=0; i < data.length; i++) { %>
  <tr>
    <td><%= data[i].sellerID %></td>
    <td><%= data[i]._id %></td>
    <td><%= data[i].name %></td>
    <td><%= data[i].price %></td>
    <td><button class="buy" onclick="window.location.href='/users/login';">Buy</button></td>
  </tr>
    <% } %>
</table>

</center>
  </div>
<div style="margin-top: 250px"></div>

<footer>
  <h2>Copyrights &copy; Reserved by Big Market, 2019.</h2>
</footer>
</body>
</html>
