<!DOCTYPE html>
<html>
<head>
  <title><%=title %> - Home</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<!--Header-->
<header>
  <div class="container">
			<span class="home-logo">
				 <div id="homeLogo">
        <a href="/index-active"><img src="../psd/logo_sm_transparent.png" alt="bigmarketLogo" width="350px" height="200px"></a></div>
			</span>
    <nav id="navbar">
      <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/users/logout">Log Out</a></li>
        <li><a href="/about-active">About</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- Credits label -->
<div style="text-align: right; margin-right: 50px;">
  <h2 style="margin-top: -90px;">Credit Balance: <%= credits%></h2>
</div>

<div class="container">
  <div class="latest_transaction" style="margin-top: 30px;">
    <center><h1>Latest Transaction</h1></center>
  </div>

  <center>
  <table>
    <tr>
      <td colspan="6" bgcolor="#A9A9A9"><font size="4">
          <strong>All products</strong></font></td>
    </tr>
    <tr>
      <td><strong>Seller</strong></td>
      <td><strong>Item ID</strong></td>
      <td><strong>Product</strong></td>
      <td><strong>Price</strong></td>
    </tr>
    <% for(var i=0; i < data.length; i++) { %>
      <tr>
        <td><%= data[i].sellerID %></td>
        <td><a href="/product/<%= data[i]._id %>"><%= data[i]._id %></a></td>
        <td><%= data[i].name %></td>
        <td><%= data[i].price %></td>
      </tr>
    <% } %>
</table>
</center>

<div style="margin-top: 150px"></div>

<footer>
  <h2>Copyrights &copy; Reserved by Big Market, 2019.</h2>
</footer>
  </div>
</body>
</html>
